---
import Base from "../layouts/Base.astro";
import Header from "../components/Header.astro";
import Gallery from "../components/Gallery.astro";
import Footer from "../components/Footer.astro";
---
<Base title="Realisaties" description="Een selectie van tegel- en vloerprojecten door Merati Tegelwerken.">
  <Header />
  <main id="main">
    <Gallery />
  </main>
  <Footer />
</Base>
