---
const words = [
  "Minder administratie",
  "Snellere offertes",
  "Geen gemiste aanvragen",
  "Betere opvolging",
  "Planning op orde",
  "CRM netjes bijgewerkt",
  "Meer tijd voor klanten",
  "Automatisatie op maat",
];
const loop = [...words, ...words];
---
<div class="marquee" aria-hidden="true">
  <div class="marquee-track">
    {loop.map((w) => <span>{w}</span>)}
  </div>
</div>
