---
import settings from "../content/settings.json";
---
<div class="preloader" data-preloader aria-hidden="true">
  <div class="preloader-inner">
    <span class="preloader-brand" data-preloader-fade>{settings.business.shortName}</span>
    <div class="preloader-bar-track" data-preloader-fade>
      <span class="preloader-bar" data-preloader-bar></span>
    </div>
    <span class="preloader-num" data-preloader-num>000</span>
  </div>
</div>
